<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'" />
    <meta http-equiv="Content-Security-Policy" content="object-src 'none'" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
        content="A multiplayer game of Tic Tac Toe that can be played across the internet, made possible with Socket.io" />

    <title>Tic Tac Toe with Friends</title>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/css/style.min.css" />
    <link rel="stylesheet" href="/css/home.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/js/home.js" defer></script>
</head>

<body>

    <h1 class="header__title">Tic Tac Toe Online</h1>

    <main class="content">

        <div class="introduction">
            <h2 class="introduction__title">Get Ready for Fun 😆</h2>
            <p class="introduction__text">
                Play Tic Tac Toe with your friends anytime, anywhere. Easy to learn, fun to play!
            </p>
            <p class="introduction__text">Spin up a quick game
                with your friends or meet someone new :)</p>

            <div class="introduction__buttons">
                <button class="" id="modal__button--create">Create a game</button>
                <button class="" id="modal__button--join">Join a game</button>
            </div>
        </div>

        <div class="lobby">
            <h2 class="lobby__title">Online</h2>

            <div class="lobby__games">
                <ul class="lobby__games--list">
                    <li class="lobby__games--list--item">
                        <span class="game__mode"><i class="fa-solid fa-lock-open"></i></span>
                        <h3 class="game__name">Game 1</h3>
                        <span class="game__players">Players 1/2</span>
                        <div class="game__actions">
                            <button>Join</button>
                        </div>
                    </li>
                    <!-- <li>
                        <span>(locked icon)</span>
                        <span>Game 2</span>
                        <span>1 | 2 | 1</span>
                        <span>10:59</span>
                        <button>Spectate</button>
                    </li> -->
                </ul>
            </div>
        </div>

        <dialog class="modal" id="modal--create">
            <form method="dialog">
                <button class="modal__button--close">
                    <i class="fa-solid fa-x"></i>
                </button>
            </form>

            <h3 class="modal__title">Create a Game</h3>

            <form class="form--create" method="dialog">
                <div>
                    <label for="hostname">Username</label>
                    <input name="hostname" id="hostname" type="text" class="username" required maxlength="20" />
                </div>

                <div>
                    <label for="room_type">
                        <input type="radio" name="room_type" id="private" value="private">
                        <span>Private</span>
                    </label>
                    <label for="room_type">
                        <input type="radio" name="room_type" id="public" value="public">
                        <span>Public</span>
                    </label>
                </div>

                <div class="hidden">
                    <label for="room_password">Room Password</label>
                    <input type="password" name="room_password" id="room_password">
                </div>

                <div>
                    <button class="btn" type="submit">Play</button>
                </div>
            </form>
        </dialog>

        <dialog class="modal" id="modal--join">
            <form method="dialog">
                <button class="modal__button--close">
                    <i class="fa-solid fa-x"></i>
                </button>
            </form>

            <h3 class="modal__title">Join a Game</h3>

            <form class="form--join" method="dialog">
                <div>
                    <label for="playername">Username</label>
                    <input id="playername" name="playername" type="text" class="username" required maxlength="20" />
                </div>

                <div>
                    <label for="roomID">Room Code</label>
                    <input name="roomID" id="roomID" type="text" class="game__ID" required maxlength="8" />
                </div>

                <div class="hidden">
                    <label for="room_password">Room Password</label>
                    <input type="password" name="room_password" id="room_password">
                </div>

                <div>
                    <button class="btn" type="submit">Play</button>
                </div>
            </form>
        </dialog>
    </main>

</body>

</html>