<!DOCTYPE html>
<html lang="en">

<%- include('partials/_head.ejs') %>

    <body class="has-background-light" data-theme="light">

        <main class="container py-5">
            <!-- Lobby -->
            <%- include('partials/lobby.ejs') %>


                <!-- Game -->
                <div>
                    <!-- Game Info & Players -->

                    <!-- Board -->

                    <!-- Chat -->
                </div>
        </main>

        <footer class="page__footer">
            <p class="has-text-centered" aria-label="copyright notice">&copy; Copyright 2021-2022. Nathaniel Campbell.
            </p>
        </footer>
    </body>

</html>