@import '../partials/_variables.scss';

/* Box sizing rules*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100dvh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* //////////////////////
    General styling
  ///////////////////////
*/

body {
	color: $light-gray;
	background: $very-dark-gray;
	font-family: 'PT Sans', Helvetica, sans-serif;
	overflow-x: hidden;
}

.heading {
	color: $dark-gray;

	text-transform: capitalize;

	font-family: 'Nunito', sans-serif;
	font-size: 2.441rem;
	font-weight: 700;

	line-height: 1.25;
}

.btn {
	background-color: $very-dark-gray;
	border: none;
	border-radius: 0.25rem;

	color: $light-gray;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 500;

	padding: 0.75rem 1.5rem;
	width: max-content;

	display: inline-block;

	// will-change: transform;
	transition: all 0.5s ease;

	cursor: pointer;

	&.btn-outline {
		background-color: $light-gray;
		outline: 2px solid currentColor;
	}

	&:hover,
	&:focus {
		scale: 1.05;
	}

	&:focus-visible {
		outline: 1px solid $very-dark-gray;
	}
}

header {
	background-color: $dark-gray;

	text-align: center;

	width: 100%;
	padding: 1rem;

	display: grid;
	place-items: center;

	.heading {
		color: $light-gray;

		@media (min-width: $laptop-breakpoint) {
			font-size: 3.052rem;
		}
	}
}

main {
	margin: auto;
	max-width: 1440px;
	padding-top: 8rem;

	position: relative;

	// @media (min-width: 1440px) {
	// 	aspect-ratio: 16 / 9;
	// }

	.wait--message {
		color: $light-gray;
		font-size: 1.5rem;
		text-align: center;
		text-transform: capitalize;
		text-decoration: solid double;

		position: absolute;
		top: 8rem;
		left: 50%;

		transform: translateX(-50%);

		transition: opacity 0.5s ease;

		&:empty {
			opacity: 0;
		}

		@media (max-width: 55rem) {
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	#room-data {
		color: $light-gray;
		font-size: 1.25rem;
		text-align: center;

		margin-top: 2rem;

		transition: opacity 0.4s ease;

		&[aria-hidden='true'] {
			opacity: 0;
			pointer-events: none;
		}

		#room-code {
			font-weight: 400;

			user-select: none;

			span {
				font-weight: 700;

				user-select: all;
			}
		}

		.room-links .btn {
			background: #222;
			border: 2px solid #555;
			border-radius: 0.5rem;

			color: #ccc;

			margin-top: 0.5rem;
			padding: 0.25rem;

			transition: all 0.4s ease;

			cursor: pointer;

			&:hover,
			&:focus {
				transform: scale(1.05);
				filter: brightness(110%);
			}
		}
	}
}

footer {
	background: $very-dark-gray;

	margin-top: 1rem;
	width: 100%;
	padding: 1rem;

	.copyright {
		text-align: center;
	}
}
