$tablet-breakpoint: 768px;
$laptop-breakpoint: 1024px;

$color-player1: hsl(203, 73%, 46%);
$color-player2: hsl(6, 70%, 46%);

$very-dark-gray: #0e0915;
$dark-gray: #222831;
$light-gray: #eeeeee;
$teal: #76abae;

$color-purple-900: #001233;
$color-purple-800: #00043a;
$color-purple-700: #001247;
$color-purple-600: #002466;
$color-purple-500: #2d1e80;
$color-purple-400: #5a189a;
$color-purple-300: #7b2cbf;
$color-purple-200: #9d4edd;
$color-purple-100: #c77dff;

@font-face {
	font-family: 'Junter';
	src: url('/fonts/j-junter-font/Junter.otf') format('opentype');
}
$font-junter: 'Junter', sans-serif;

@mixin button {
	border: none;
	border-radius: 0.375rem;
	background-color: $color-purple-600;
	color: #fff;
	font-weight: 500;
	padding: 0.75rem 1.25rem;

	transition: all 0.3s ease;
	cursor: pointer;

	&:hover {
		background-color: $color-purple-500;
	}

	&:focus {
		outline: 1px solid $color-purple-600;
	}
}
