@import './partials/variables';

body {
	background: url('/images/background.svg') no-repeat, url('/images/noisy-texture.png') repeat, $color-purple-900;
	background-size: cover, auto;
	background-position: center;

	font-family: $font-junter;
}

.header__title {
	color: $light-gray;
	font-size: 2.75rem;
	font-weight: 600;
	text-align: center;
	margin-block: 3rem 2rem;
}

.content {
	background: $color-purple-800;
	padding: 4rem;
	margin: 0 2rem;
	border-radius: 1rem;
	padding: 4rem;
	display: grid;

	@media (min-width: $tablet-breakpoint) {
		grid-template-columns: repeat(2, 1fr);
	}

	.introduction {
		border-right: 2px solid $color-purple-600;
		padding-right: 2rem;

		.introduction__title {
			font-size: 1.75rem;
			font-weight: 700;
			margin-bottom: 1rem;
		}

		.introduction__text {
			font-size: 1rem;
			color: $light-gray;

			&:not(:last-of-type) {
				margin-bottom: 1rem;
			}
		}

		.introduction__buttons {
			margin-top: 2.5rem;

			display: flex;
			gap: 1rem;
			align-items: center;
			justify-content: center;

			button {
				@include button;
			}

			.modal__button--create {
			}
			.modal__button--join {
			}
		}
	}

	.lobby {
		padding-left: 2rem;

		.lobby__title {
		}

		.lobby__games {
		}

		.lobby__games--list {
			list-style-type: none;
			padding: 0;
		}

		.lobby__games--list--item {
			background-color: $color-purple-600;
			border-radius: 0.25rem;
			display: flex;
			gap: 1rem;
			align-items: center;
			justify-content: space-between;
			padding: 1rem 1.25rem;
		}

		.game__mode {
		}
		.game__name {
		}
		.game__players {
		}
		.game__actions {
			button {
				@include button;
				padding: 0.5rem 1rem;
				background-color: $color-purple-400;
			}
		}
	}
}

.modal {
	.modal__title {
	}
}
