.scoreboard {
	margin: 0 auto;
	margin-top: 1rem;
	width: 100%;
	padding: 0 1rem;

	display: flex;
	align-items: center;
	justify-content: space-between;

	.score {
		border-radius: 0.5rem;

		font-size: 1.5rem;
		text-transform: capitalize;
		word-break: break-all;

		max-width: 10ch;
		padding: 0.25rem 0.5rem;

		display: flex;

		transition: background 0.4s ease, transform 0.4s ease;

		&.current {
			background: #555;
		}

		&#player1 {
			color: #0090eb;
		}
		&#player2 {
			color: #eb1a01;
		}
	}

	@media (min-width: 768px) {
		padding: 3rem 2rem;

		position: absolute;
		top: 6rem;
		left: 0;

		&.current {
			transform: translateY(-1.5rem);
		}

		.score {
			font-size: 2rem;
			text-align: center;

			min-width: 7.5ch;
			padding: 1rem;

			display: inline-block;

			span[aria-label^='score'] {
				font-size: 2em;
				text-align: center;
				display: block;
			}
		}
	}

	@media (max-width: 767px) {
		max-width: 40rem;

		.score span[aria-label^='score']::before {
			content: '(';
		}
		.score span[aria-label^='score']::after {
			content: ')';
		}
	}
}

.announcement {
	background: black;

	font-size: 2rem;
	text-align: center;
	text-transform: capitalize;

	width: 100%;
	padding: 0 2rem;

	word-break: break-all;

	position: absolute;
	top: 10rem;
	z-index: 9;

	transition: opacity 0.8s ease, transform 0.8s ease;

	&.player1 {
		color: #0090eb;
	}
	&.player2 {
		color: #eb1a01;
	}
	&.draw {
		color: #ebc600;
	}

	&[aria-hidden='true'] {
		opacity: 0;
		transform: translateY(-100px);
		pointer-events: none;
	}

	@media (min-width: 768px) {
		font-size: 4rem;
		padding: 2rem;
	}
}
